<div class="employees-container">
  <div class="owner">
    <p><strong>Proprietário:</strong> {{ ownerName }}</p>
  </div>
  <div class="header">
    <h3>Funcionários</h3>
    <button *ngIf="canAddEmployee" class="add-employee-button" (click)="openAddEmployeeDialog()">Adicionar</button>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="!errorMessage && employees.length > 0" class="employee-list">
    <ul>
      <li *ngFor="let employee of employees">
        <div class="employee-info" (click)="openEmployeeDetailsDialog(employee.employeeId)">
          <p>{{ employee.employeeName }}</p>
        </div>
        <button *ngIf="canAddEmployee" mat-icon-button color="warn" (click)="confirmRemoveEmployee(employee.employeeId)">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>