.employees-container {
  max-width: 800px;
  margin: auto;
  text-align: left;
  padding-top: 70px;

  .owner {
    margin-bottom: 20px;

    p {
      margin: 0;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .actions {
      display: flex;
      align-items: center;

      h3 {
        margin: 0 10px 0 0;
      }

      .add-employee-button {
        padding: 8px 12px;
        border: none;
        cursor: pointer;
        background-color: #007bff;
        color: white;
        border-radius: 4px;
      }
    }
  }

  .error-message {
    color: red;
    margin-top: 20px;
  }

  .employee-list {
    margin-top: 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }
}
