.employee-details-dialog-container {
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding: 20px;

  .delete-button-container {
    text-align: right;
  }

  .dialog-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .error-message {
    color: red;
    margin-top: 20px;
  }

  .dialog-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }

  button[color="primary"] {
    background-color: #f0f0f0;
  }

  button[color="accent"] {
    background-color: #007bff;
    color: white;
  }
}
