<div class="employee-details-dialog-container">
  <h2 class="dialog-title">Detalhes do Funcionário</h2>
  <mat-tab-group>
    <mat-tab label="Detalhes">
      <div *ngIf="employeeDetails">
        <p><strong>Nome:</strong> {{ employeeDetails.employeeName }}</p>
        <p *ngIf="employeeDetails?.permissions"><strong>CPF:</strong> {{ employeeDetails.cpf }}</p>
        <p *ngIf="employeeDetails?.permissions"><strong>Email:</strong> {{ employeeDetails.email }}</p>
        <p *ngIf="employeeDetails?.permissions"><strong>Telefone:</strong> {{ employeeDetails.telephone }}</p>
        <p><strong>Adicionado por:</strong> {{ employeeDetails.adderUserName }}</p>
        <p><strong>Data da adição:</strong> {{ employeeDetails.dateAdded | date: 'dd/MM/yyyy HH:mm' }}</p>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </mat-tab>
    <mat-tab *ngIf="employeeDetails?.permissions" label="Permissões">
      <div *ngIf="employeeDetails.permissions">
        <p>
          <strong>Check-in de veículos: </strong>
          <mat-slide-toggle [(ngModel)]="employeeDetails.permissions.canCheckinVehicle" (change)="enableSaveButton()">Sim</mat-slide-toggle>
        </p>
        <p>
          <strong>Check-out de veículos: </strong>
          <mat-slide-toggle [(ngModel)]="employeeDetails.permissions.canCheckoutVehicle" (change)="enableSaveButton()">Sim</mat-slide-toggle>
        </p>
        <p>
          <strong>Adicionar funcionários: </strong>
          <mat-slide-toggle [(ngModel)]="employeeDetails.permissions.canAddEmployee" (change)="enableSaveButton()">Sim</mat-slide-toggle>
        </p>
        <p>
          <strong>Editar estacionamento: </strong>
          <mat-slide-toggle [(ngModel)]="employeeDetails.permissions.canEditParking" (change)="enableSaveButton()">Sim</mat-slide-toggle>
        </p>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="dialog-actions">
    <button mat-button color="primary" (click)="closeDialog()">Fechar</button>
    <button mat-button color="accent" *ngIf="employeeDetails?.permissions" [disabled]="!isSaveEnabled" (click)="savePermissions()">Salvar</button>
  </div>
</div>
