<div class="dashboard-container">
  <h2>Dashboard</h2>

  <div class="filter-buttons">
    <button
      mat-button
      *ngFor="let filter of ['Hoje', 'Ontem', 'Esta semana', 'Este mês', 'Últimos 30 dias', 'Todo']"
      [class.selected]="filter === selectedFilter"
      (click)="selectFilter(filter)"
    >
      {{ filter }}
    </button>
  </div>

  <div class="cards">
    <mat-card class="card earnings">
      <div class="card-content-wrapper">
        <div class="card-content">
          <h3>Faturamento</h3>
          <p>{{ revenue }}</p>
        </div>
        <div class="card-icon">
          <mat-icon>attach_money</mat-icon>
        </div>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="card-content-wrapper">
        <div class="card-content">
          <h3>Check-ins</h3>
          <p>{{ checkIns }}</p>
        </div>
        <div class="card-icon">
          <mat-icon>event</mat-icon>
        </div>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="card-content-wrapper">
        <div class="card-content">
          <h3>Check-outs</h3>
          <p>{{ checkOuts }}</p>
        </div>
        <div class="card-icon">
          <mat-icon>exit_to_app</mat-icon>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="checkins-tower-chart">
    <canvas
      baseChart
      [data]="checkinsBarChartData"
      [options]="barChartOptions"
      [type]="barChartType"
    ></canvas>
  </div>

  <div class="earnings-tower-chart">
    <canvas
      baseChart
      [data]="earningsBarChartData"
      [options]="barChartOptions"
      [type]="barChartType"
    ></canvas>
  </div>
</div>
