<h2 mat-dialog-title>Detalhes do Veículo</h2>
<mat-dialog-content>
  <form [formGroup]="vehicleForm">
    <mat-form-field>
      <mat-label>Placa</mat-label>
      <input matInput formControlName="plate" readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="model" readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cor</mat-label>
      <input matInput formControlName="color" readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vaga</mat-label>
      <input matInput formControlName="space" readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data de Entrada</mat-label>
      <input matInput formControlName="entryDate" readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hora de Entrada</mat-label>
      <input matInput formControlName="entryTime" readonly>
    </mat-form-field>
    <mat-checkbox *ngIf="canCheckoutVehicle" formControlName="paid">Pago</mat-checkbox>
    <mat-form-field *ngIf="canCheckoutVehicle && vehicleForm.get('paid')?.value">
      <mat-label>Valor</mat-label>
      <input matInput currencyMask type="text" formControlName="amountToPay" placeholder="R$ 00,00" [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left', allowNegative: false}" required>
    </mat-form-field>
    <mat-form-field *ngIf="canCheckoutVehicle && vehicleForm.get('paid')?.value">
      <mat-label>Método de Pagamento</mat-label>
      <input matInput formControlName="paymentMethod" required>
    </mat-form-field>
  </form>
  <div class="additional-info">
    <p><strong>Adicionado pelo funcionário:</strong> {{ data.checkinEmployeeName }}</p>
    <p><strong>Adicionado em:</strong> {{ formatDateWithTime(data.checkinDate) }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Fechar</button>
  <button *ngIf="canCheckoutVehicle" mat-button color="primary" (click)="onCheckout()" [disabled]="vehicleForm.invalid">Checkout</button>
</mat-dialog-actions>
