.dashboard-container {
  max-width: 800px;
  margin: 70px auto 0;
  text-align: center;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .no-parking {
    margin-top: 20px;
  }

  .parking-list {
    display: grid;
    gap: 15px;
    margin-top: 20px;

    .parking-card {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      text-align: left;

      button {
        margin-top: 10px;
      }
    }
  }

  button {
    margin-top: 20px;
  }
}
