<p>edit-parking-settings works!</p>
<h2>Editar Configurações do Estacionamento</h2>
<form [formGroup]="settingsForm" (ngModelChange)="onFieldChange()">
  <p>
    <strong>Cobrar a partir do check-in?</strong>
    <input type="checkbox" formControlName="chargeFromCheckIn" />
  </p>
  <p>
    <strong>Tempo mínimo de cobrança:</strong>
    <input type="text" formControlName="minimumTimeToCharge" placeholder="00:00" />
  </p>
  <p>
    <strong>Período de cobrança:</strong>
    <input type="text" formControlName="period" placeholder="00:00" />
  </p>
  <p>
    <strong>Valor por período:</strong>
    <input type="text" formControlName="valuePerPeriod" placeholder="R$ 00,00" />
  </p>
  <div class="buttons">
    <button type="button" *ngIf="isCreateMode" (click)="createSettings()">Criar configurações</button>
    <button type="button" (click)="saveSettings()" [disabled]="!isSaveEnabled">Salvar</button>
  </div>
</form>
